*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    position: relative;
    width: 100%;
    background: #39A7BF;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -10em;
}
footer .footericons,
footer .footertext{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .footericons li,
footer .footertext li{
    list-style: none;
}
footer .footericons li a{
    font-size: 2em;
    columns: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.8s;
}
 a:hover{
   transform: translateY(-15px);
   color: orange;
}
footer .footertext li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.8s;
    text-decoration: none;
    opacity: 0.80;
    font-weight: 400;
}
 li:hover{
    opacity: 1;
    color: orange;
}
footer p{
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}
footer.wave{
    position: absolute;
    top: -100px;
    left: 0;
    height: 100px;
    width: 100%;
    background: url("wave.png");
    /* background-color: red; */
    background-size: 1000px 100px;
}
footer.wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}
footer.wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_2 4s linear infinite;
}
footer.wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15;
    animation: animatewave 3s linear infinite;
}
footer.wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave 4s linear infinite;
}
footer.wave#wave5{
    z-index: 999;
    opacity: 0.8;
    bottom: 30px;
    animation: animatewave 2s linear infinite;
}
#icon{
    padding: 5px;
    font-size:larger ;
    color: white;
    /* margin-left: 50px; */
 }
@keyframes animatewave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animatewave_2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}